#flot_extra.span-20.suffix-1.prefix-1
  .prefix-14.last
    %span.tTip{:title => tool_tip(:title => t('option.tsv'), :content => t('option.tsv_desc')) }
      = link_to image_tag('heart/page_white_excel.png'), nil, :class => 'heart_export_tsv'
    %span.tTip{:title => tool_tip(:title => t('option.image'), :content => t('option.image_desc')) }
      = link_to image_tag('heart/picture.png'), nil, :class => 'heart_export_image', :id => 'heart_export_image'
    %span.tTip{:title => tool_tip(:title => t('option.table'), :content => t('option.table_desc')) }
      = link_to image_tag('heart/table.png'), nil, :class => 'heart_export_table'
    |
    %span.tTip{:title => tool_tip(:title => t('option.pie'), :content => t('option.pie_desc')) }
      = link_to image_tag('heart/chart_pie.png', :class => 'heart_pie heart_off') + image_tag('heart/chart_pie_off.png', :class => 'heart_pie'), nil, :class => 'heart_set_pie'
    %span.tTip{:title => tool_tip(:title => t('option.bars'), :content => t('option.bars_desc')) }
      = link_to image_tag('heart/chart_bar.png', :class => 'heart_bars heart_off') + image_tag('heart/chart_bar_off.png', :class => 'heart_bars'), nil, :class => 'heart_set_bars'
    %span.tTip{:title => tool_tip(:title => t('option.lines'), :content => t('option.lines_desc')) }
      = link_to image_tag('heart/chart_curve.png', :class => 'heart_lines') + image_tag('heart/chart_curve_off.png', :class => 'heart_lines heart_off'), nil, :class => 'heart_set_lines'
    |
    %span.tTip{:title => tool_tip(:title => t('option.stack'), :content => t('option.stack_desc')) }
      = link_to image_tag('heart/bricks.png', :class => 'heart_stack heart_off') + image_tag('heart/bricks_off.png', :class => 'heart_stack'), nil, :class => 'heart_set_stack'
    %span.tTip{:title => tool_tip(:title => t('option.points'), :content => t('option.points_desc')) }
      = link_to image_tag('heart/chart_line.png', :class => 'heart_points heart_off') + image_tag('heart/chart_line_off.png', :class => 'heart_points'), nil, :class => 'heart_set_points'
    %span.tTip{:title => tool_tip(:title => t('option.fill'), :content => t('option.fill_desc')) }
      = link_to image_tag('heart/paintcan.png', :class => 'heart_fill') + image_tag('heart/paintcan_off.png', :class => 'heart_fill heart_off'), nil, :class => 'heart_set_fill'
    %span.tTip{:title => tool_tip(:title => t('option.zoom'), :content => t('option.zoom_desc')) }
      = link_to image_tag('heart/zoom.png', :class => 'heart_zoom heart_off') + image_tag('heart/zoom_off.png', :class => 'heart_zoom'), nil, :class => 'heart_set_zoom'