%br
.span-22.prefix-1.clear.last
  .span-22.last
    #overlay.black_overlay
    #loadingGif.overlay_content.fancy
      Loading...
    #description_div.span-12.suffix-1.prefix-1
    #description_div_form.span-12.suffix-1.prefix-1.hidden
      = form_tag(dashboards_path) do
        = hidden_field 'annotation', 'fulldate'
        = hidden_field_tag 'dashboard_id', @dashboard ? @dashboard.id : 0
        = text_field 'custom', 'description', :onchange => "HEART.description()"
    = render 'graph_options'
    #flot.span-22.yspan-10
    = render 'annotation'
  #flotlegend_wrapper.span-13.light-contrast
    #flotlegend
      .flotlegend_note.fancy
        Choose a metric from below and hit the graph button.
  .span-21.prefix-1.last
    = form_tag(dashboards_path, :id => 'heartform', :autocomplete => 'off') do
      = hidden_field_tag 'dashboard_id', @dashboard ? @dashboard.id : 0, {:id => 'dashboard_id'}
      = render 'heart_form', :metrics => @metrics