.span-22.prefix-1.clear.last
  %fieldset
    %legend
      = @dashboard.title
      %span{:id => "legend"}
    .span-22.last
      #overlay.black_overlay
      #loadingGif.overlay_content.fancy.last
        Loading...
      #description_div.span-20.suffix-1.prefix-1.fancy
      = render 'graph_options'
      #flot.flot.span-22.yspan-10
      = render 'annotation'
    #flotlegend.span-21.light-contrast
    #dashboard_navigation.span-21.prefix-1.last
      = form_tag(dashboards_path, :id => "heartform") do
        = hidden_field_tag "dashboard_id", @dashboard.id, {:id => "dashboard_id"}
        - count = 0
        - @charts.each do |chart|
          - next if chart.nil?
          - count = count + 1
          = hidden_field_tag "dashboard[]", chart[1].to_s, {:id => "flot#{count}_form"}
        = render 'heart_form'
.span-22.prefix-1.center.last.fancy
  - if @dashboard.id == 1
    Custom Description
    %br
    = form_tag(annotations_path) do
      = hidden_field "annotation", "fulldate"
      = hidden_field_tag "dashboard_id", @dashboard.id
      = text_area "custom", "description", :cols => 75, :rows => 3, :onchange => "HEART.description()"
    Link to this:
    <input type="text" id="linkto" value="" style="width:400px" class="whisper" onfocus="this.select()"/>
.span-16.last
  %br
  %br
  %br
  %br
  .panel
    #charts.yspan-8.scrollable
      - count = 0
      - @charts.each do |chart|
        - next if chart.nil?
        - count = count + 1
        .menu_option.last.yspan-4{:onclick => "HEART.flotGraph().draw({ serialized : $('#flot#{count}_form').val()}); $('#legend').html('#{ chart[0].to_s}');"}
          .chart_title.span-4.yspan-1.last
            = chart[0].to_s
          .flot.flotmini.span-4.yspan-3.last{:style => "border-left:1px dashed #444;border-right:1px dashed #444;border-bottom:1px dashed #444;", :id => "flot" + count.to_s}
    = link_to image_tag("heart/pencil.png", :align => "left"), edit_dashboard_path(@dashboard), :id => "edit_dashboard_link"
  #trigger
    #trigger_title.span-1
      = @dashboard.title
    #trigger_button.span-1.last
      = image_tag "heart/tag.png"
:javascript
  var charts = new Object({
    ordered : #{(@dashboard.dashboard.to_s == '') ? "[]" : @dashboard.dashboard.to_s},
  });

  for(x=0;x<charts.ordered.length;x++){
    if(x>0){
      HEART.miniGraph({ target : '#flot'+x }).draw({ serialized : charts.ordered[x][1]});
      $('.measurements').attr('checked', false);
    }
  }