%br
.span-22.prefix-1.clear.last
  %fieldset
    %legend
      All Metrics
    .span-22.last
      #overlay.black_overlay
      #loadingGif.overlay_content.fancy
        Loading...
      #description_div.span-20.suffix-1.prefix-1.fancy
      = render "dashboards/graph_options"
      #flot.span-22.yspan-10
      = render "dashboards/annotation"
    #flotlegend.span-21.light-contrast
    .span-21.prefix-1.last
      = form_tag(dashboards_path, :id => "heartform", :autocomplete => "off") do
        = hidden_field_tag "dashboard_id", @dashboard.id, {:id => "dashboard_id"}
        = render "dashboards/heart_form", :metrics => @metrics, :categories => @categories
.span-22.prefix-1.center.last.fancy
  Custom Description (255 char)
  %br
  = form_tag(dashboards_path) do
    = hidden_field "annotation", "fulldate"
    = hidden_field_tag "dashboard_id", @dashboard.id
    = text_area "custom", "description", :cols => 75, :rows => 3, :onchange => "HEART.description()"
  Link to this:
  <input type="text" id="linkto" value="" style="width:400px" class="whisper" onfocus="this.select()"/>
.span-16.last
  %br
  %br
  %br
  %br