%br
.span-22.prefix-1.last
  = form_tag(dashboards_path, :id => "heartform") do
    = hidden_field_tag "dashboard_id", Dashboard.first.id, {:id => "dashboard_id"}
    .span-21.prefix-1.last.hidden
      = render "dashboards/heart_form", :metrics => @metrics, :categories => @categories
    - @reflots = ""
    - @dashboards.each do |d|
      = render 'dashblock', :dashboard => d
    .span-4.dashboards
      .dashboards-top
      .dashboards-bottom
        #new_dashboard
          .center
            = link_to image_tag('add.png', :align => "left") + t(:dashboard), new_dashboard_path, :class => "button", :id => "new_dashboard_link"

.span-22.last.yspan-3
:javascript
  #{@reflots}